* {
    margin: 0px;
    padding: 0px;
}



.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: rgb(45, 42, 42);
    height: 100px;
    opacity: 0.5;
}

.maindiv {
    background-image: url('../img/bgimage\ -\ 1.png');
    height: 370px;
    width: 100%;
}


.logo {
    position: relative;
    right: 180px;

}

ul {
    display: flex;
    /* justify-content: flex-end; */
    list-style-type: none;
    /* padding-right: 10rem; */


}


li {
    margin-left: 20px;
    padding: 15px;

}

li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: rgb(237, 234, 234);
}

.view {
    padding: 10px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    background-color: orange;
    font-weight: bold;

}



.row {
    display: flex;
    margin-top: 40px;


}
img{
    width: 100%;
}
.food {
  margin: 0 auto;
}


.div7 {

    height: 350px;
    width: 100%;
    background-color: black;
    display: flex;

}

.box2 {
    color: black;
    position: relative;
    top: 30px;
    margin-left: 100px;
}


.nav22 {
    list-style: none;
    margin-left: 100px;
    margin-top: 120px;


}

.quice {

    color: white;

}

.box4 {
    margin-left: 50px;
    color: white;
    margin-top: 120px;
    margin-left: 80px;

}

.HOUR {
    color: white;
}

.timing {
    margin-top: 20px;
    font-weight: bold;
}

.box5 {
    
    color: white;
    margin-left: 50px;
    margin-top: 120px;

}

.div7 {

    height: 370px;
    width: 100%;
    background-color: black;
    display: flex;
    margin-top: 100px;

}

.box2 {
    color: black;
    position: relative;
    top: 30px;
    margin-left: 100px;
}


.nav22 {
    list-style: none;
    margin-left: 100px;
    margin-top: 120px;


}

.quice {

    color: white;

}

.box4 {
    margin-left: 50px;
    color: white;
    margin-top: 120px;
    margin-left: 80px;

}

.HOUR {
    color: white;
}

.timing {
    margin-top: 20px;
    font-weight: bold;
}

.box5 {
    
    color: white;
    margin-left: 50px;
    margin-top: 120px;

}


